body {
  font-family: Arial;
  direction: rtl;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #6c5ce7;
  color: white;
  padding: 10px;
}

.banner {
  text-align: center;
  padding: 30px;
  background: #dfe6e9;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}